<div class="container">
	<a class="nav nav-skipto" href="#main">Skip to main content</a>
</div>
<div class="navbar goldbar" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse right gold">
			<ul class="nav navbar-nav right quicklinks">
				<!-- TODO put this in with handlebars -->
				<li><a href="#">Logged in as Jordan</a></li>
				<li><a href="javascript:__doPostBack('PageHeader$_SignIn','')">Log Out</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>
<div class="top">
	<div class="container">
		<div class="row row-eq-height">
			<div class="logo col-lg-2 col-md-3 col-sm-3 col-xs-12">
				<a class="svgLinkContainer" href="https://www.purdue.edu">
					<object class="svgContainer" type="image/svg+xml"
					        data="https://www.purdue.edu/purdue/images/logo.svg" tabindex="-1">
						<img alt="Purdue University" src="https://www.purdue.edu/purdue/images/logo.png"/>
					</object>
				</a>
			</div>
			<div class="department col-lg-10 col-md-9 col-sm-9 col-xs-12">
				<a href="index.html">Central Office Online</a>
				<span class="tagline"><a href="#">Business Office for Student Organizations</a></span>
			</div>
		</div>
	</div>
</div>
<!-- TODO put active link in from handlebars -->
<div class="navbar navbar-inverse blackbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-target=".black" data-toggle="collapse" type="button">
				<span class="icon-bar"/>
				<span class="icon-bar"/>
				<span class="icon-bar"/>
				Menu
			</button>
		</div>
		<div class="collapse navbar-collapse black">
			<ul class="nav navbar-nav">
				<li class="first"><a href="/templates/homepages/department1.html">Clubs</a></li>
				<li class="dropdown"><a href="/templates/homepages/department1.html">Browser Support</a></li>
				<li class="dropdown"><a data-toggle="modal" data-target="#aboutModal" href="#">About</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- TODO insert breadcrumbs from handlebars -->
<div class="breadcrumb">
	<div class="container">
		<div class="row">
			<div id="breadcrumbs">
				<ol class="col-lg-12 col-md-12 col-sm-12">
					<li><a href="../colors.html">Visual Identity</a></li>
					<li><a href="webtemplates.html">Digital</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<main id="main" class="content">
	<div class="container">
		<div class="row">
			<div class="maincontent col-lg-9 col-md-9 col-sm-9 right"></div>
			<div class="sidenav col-lg-3 col-md-3 col-sm-3">
				<ul>
					<li><a href="purdue.hbs">Content Example 1</a></li>
					<li><a href="purdue-templates/templates/content-2.html">Content Example 2</a></li>
					<li class="dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Submenu
						Example<span class="caret"/></a>
						<ul class="dropdown-menu">
							<li><a href="#">Place Holder Link 1</a></li>
							<li><a href="#">Place Holder Link 2</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="sidecontent col-lg-3 col-md-3 col-sm-3">
				<h4>Identifer text</h4>
				<p>First sentence of the side content.</p>
			</div>
		</div>
	</div>
</main>
<div class="footer">
	<div class="container">
		<div class="row panel-group" id="accordion">
			<div class="panel panel-default col-lg-2 col-md-2 col-sm-2 col-xs-12 left">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse"
					                           href="#footerone">Communication <i
							class="fa fa-plus right"/><i class="fa fa-minus right"/></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerone">
					<div class="panel-body">
						<ul>
							<li><a href="https://www.purdue.edu/employeeportal">Employee Portal</a></li>
							<li><a href="http://www.itap.purdue.edu/learning/tools/blackboard/purdue-brand.hbs">Blackboard</a>
							</li>
							<li><a href="http://www.purdue.edu/newsroom/purduetoday/purdue-brand.hbs">Purdue Today</a>
							</li>
							<li><a href="https://mymail.purdue.edu/purdue-brand.hbs">myMail</a></li>
							<li><a href="https://exchange.purdue.edu">Outlook</a></li>
							<li><a href="https://wl.mypurdue.purdue.edu">myPurdue</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default col-lg-2 col-md-2 col-sm-2 col-xs-12 left">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse"
					                           href="#footertwo">Campus <i class="fa fa-plus right"/><i
							class="fa fa-minus right"/></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footertwo">
					<div class="panel-body">
						<ul>
							<li>
								<a href="http://www.purdue.edu/purdue/information_for/for_faculty_staff_re.html">Faculty
									and Staff</a></li>
							<li><a href="http://www.purdue.edu/ais/purdue-brand.hbs">AIS</a></li>
							<li><a href="https://www.purdue.edu/physicalfacilities/purdue-brand.hbs">Physical
								Facilities</a></li>
							<li><a href="https://www.itap.purdue.edu/directory/purdue-brand.hbs">Directory</a></li>
							<li><a href="https://www.purdue.edu/campus_map/purdue-brand.hbs">Campus Map</a></li>
							<li><a href="https://www.purdue.edu/physicalfacilities/constructionmap/index.html">Construction</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default col-lg-2 col-md-2 col-sm-2 col-xs-12 right">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse"
					                           href="#footerthree">Services <i class="fa fa-plus right"/><i
							class="fa fa-minus right"/></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerthree">
					<div class="panel-body">
						<ul>
							<li><a href="http://www.itap.purdue.edu/learning/tools/blackboard/purdue-brand.hbs">Blackboard</a>
							</li>
							<li><a href="http://www.purdue.edu/ehps/purdue-brand.hbs">Environmental Health &amp; Public
								Safety</a></li>
							<li><a href="https://www.lib.purdue.edu/purdue-brand.hbs">Libraries</a></li>
							<li><a href="https://www.itap.purdue.edu/purdue-brand.hbs">ITaP</a></li>
							<li><a href="https://www.purdue.edu/hr/CHL/index.html">Center for Healthy Living</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default col-lg-2 col-md-2 col-sm-2 col-xs-12 right">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse"
					                           href="#footerfour">Other <i class="fa fa-plus right"/><i
							class="fa fa-minus right"/></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerfour">
					<div class="panel-body">
						<ul>
							<li><a href="http://www.purdueofficialstore.com/">Shop</a></li>
							<li><a href="http://www.purdue.edu/ethics/clery.html">Clery Reporting Act</a></li>
							<li><a href="https://www.purdue.edu/bursar/tuition/calculator/purdue-brand.hbs">Tuition
								Calculator</a></li>
							<li><a href="https://www.purdue.edu/ethics/purdue-brand.hbs">Ethics &amp; Compliance</a>
							</li>
							<li><a href="http://www.purdue.edu/hotline/purdue-brand.hbs">Speak Up</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="motto col-lg-4 col-md-4 col-sm-4">
				<img alt="We are Purdue. What we make moves the world forward." class="horizontal"
				     src="https://www.purdue.edu/purdue/images/templateElements/2015/footer-mottoHorizontal.png">
				<img alt="We are Purdue. What we make moves the world forward." class="vertical"
				     src="https://www.purdue.edu/purdue/images/templateElements/2015/footer-mottoVertical.png">
				<a title="Facebook" href="http://www.facebook.com/PurdueUniversity" target="_blank"><i
						class="fa fa-facebook"/></a>
				<a title="Twitter" href="http://twitter.com/LifeAtPurdue" target="_blank"><i
						class="fa fa-twitter"/></a>
				<a title="YouTube" href="http://www.youtube.com/purdue" target="_blank"><i
						class="fa fa-youtube"/></a>
				<a title="Instagram" href="http://www.instagram.com/lifeatpurdue" target="_blank"><i
						class="fa fa-instagram"/></a>
				<a title="Pinterest" href="http://www.pinterest.com/lifeatpurdue/" target="_blank"><i
						class="fa fa-pinterest"/></a>
				<a title="Google Plus" href="http://plus.google.com/+PurdueUniversity" target="_blank"><i
						class="fa fa-google-plus"/></a>
				<a title="LinkedIn" href="https://www.linkedin.com/edu/purdue-university-18357" target="_blank"><i
						class="fa fa-linkedin"/></a>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>Purdue University, 610 Purdue Mall, West Lafayette, IN 47907, (765) 494-4600</p>
				<p><a href="http://www.purdue.edu/purdue/disclaimer.html"> © 2015 Purdue University</a> | <a
						href="http://www.purdue.edu/purdue/ea_eou_statement.html">An equal access/equal
					opportunity university</a> | <a href="http://www.purdue.edu/securepurdue/DMCAAgent.cfm">Copyright
					Complaints</a> |
					<a
							href="http://www.purdue.edu/marketing" target="_blank">Maintained by ORGANIZATION
						NAME HERE</a>
				</p>
				<p>Trouble with this page? Disability-related <a
						href="http://www.purdue.edu/disabilityresources/purdue-brand.hbs">accessibility</a> issue?
					Please
					contact&nbsp;us at <a href="mailto:online@purdue.edu">organization-email@purdue.edu</a>.</p>
			</div>
		</div>
	</div>
</div>