body {
    padding: 0 2em;
    /*background-color: #9E9E9E;*/
}

h1 {
    text-align: center;
}

label {
    font-size: 14pt;
}

button {
    text-align: center;
    margin: 2em 0;
    font-size: 14pt;
}