<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/COOLPUWL">COOL (Central Office Online)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/COOLPUWL/Individual/ShowIndividualPage.aspx">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/COOLPUWL/MyPages/Browsers.html">Browser Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#aboutModal" href="#">About</a>
            </li>
        </ul>
        {{#if name}}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="navbar-text active">Hello, {{name}}!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{logOutLink}}">Log Out</a>
                </li>
            </ul>
        {{/if}}
    </div>
</nav>