<div class="container">
    <form>
        <h1>Add a Payment</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payee</h5>
                <strong>Payment Date: </strong>{{todayDate}}
                <!-- Payee -->
                    <!-- Student org? -->
                    <!-- Search -->
                    <!-- Add -->
                    <!-- Select -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hold-for-pickup">
                    <label class="form-check-label" for="hold-for-pickup">Hold for Pickup</label>
                </div>
                <div class="form-group">
                    <label for="check-memo">Check Memo</label>
                    <input type="text" class="form-control" id="check-memo" placeholder="Enter Memo">
                </div>
                <!-- Note -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Expenses</h5>
                <!-- Add -->
                <!-- Copy -->
                <!-- Delete -->
                <!-- Expenses -->
                    <!-- Delete -->
                    <!-- Select -->
                    <!-- Name -->
                    <!-- Date -->
                    <!-- Expense Code -->
                    <!-- Amount -->
                    <!-- Note -->
            </div>
        </div>
    </form>
</div>